## Last commit: 2023-03-19 08:08:01 UTC by root
version 23.1R1.8;
system {
    host-name spine2;
    root-authentication {
        encrypted-password "$6$p80eNtht$2q/n0zrkJP1Mu19uKnI0b4/k5Bz7Sk26ftoKRy8KlpL9wVxj5IcMxPsXxcLsO3ub0Dw6PvML9oqJ1u/XwmSFz0"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$Cto7zwzn$qN1CJ4huOWRsrX0gB.oZRIBk/EmdgEYLJSFTBSozNqn7yOqI/4G1PDDntzbhdYamTreLQaAo8E0SghgIwP3gi1"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            root-login allow;
        }
        netconf {
            ssh;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 56;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.2.1.1/30;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.2.2.1/30;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 10.2.3.1/30;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.255.255.102/32;
            }
        }
    }
}
policy-options {
    policy-statement ECMP {
        then {
            load-balance per-flow;
        }
    }
    policy-statement export-loopback {
        term 1 {
            from {
                route-filter 10.255.255.0/24 orlonger;
            }
            then accept;
        }
        term 2 {
            from {
                route-filter 10.254.254.0/24 orlonger;
            }
            then accept;
        }
        then reject;
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    router-id 10.255.255.102;
    autonomous-system 65000;
    forwarding-table {
        export ECMP;
    }
}
protocols {
    ##
    ## Warning: requires 'bgp' license
    ##
    bgp {
        group underlay {
            type external;
            family inet {
                unicast;
            }
            export export-loopback;
            multipath;
            neighbor 10.2.1.2 {
                peer-as 65401;
            }
            neighbor 10.2.2.2 {
                peer-as 65402;
            }
            neighbor 10.2.3.2 {
                peer-as 65403;
            }
        }
        group overlay {
            type external;
            multihop {
                no-nexthop-change;
            }
            local-address 10.255.255.102;
            multipath;
            neighbor 10.254.254.1 {
                family evpn {
                    signaling;
                }
                peer-as 65401;
            }
            neighbor 10.254.254.2 {
                family evpn {
                    signaling;
                }
                peer-as 65402;
            }
            neighbor 10.254.254.3 {
                family evpn {
                    signaling;
                }
                peer-as 65403;
            }
        }
    }
}