## Last commit: 2026-01-10 23:49:51 UTC by admin
version 23.1R1.8;
system {
    host-name leaf1;
    root-authentication {
        encrypted-password "$6$SgYG3yer$goF2tm.P/yEpbTRVJNIqiF7PYUozIf7L1CT9W.NqnedwaF6hc3JUgyojj3SvLd1Nl9EgoW5o9esZ.jez5teCL/"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$UpLjESEi$6Da8U9nEp0jyQawIel7yH2hKEg.hOl8fVdoTZW18Xvf9jLzlfv26jiIZcWyJe5dalv3ZX8EoH1mtm19IOATXH0"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            root-login allow;
        }
        netconf {
            ssh;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 56;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.1.1.1/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 20.2.1.1/24;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members vlan-10;
                }
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members vlan-20;
                }
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    irb {
        unit 10 {
            virtual-gateway-accept-data;
            family inet {
                address 192.168.1.252/24 {
                    virtual-gateway-address 192.168.1.254;
                }
            }
        }
        unit 20 {
            virtual-gateway-accept-data;
            family inet {
                address 192.168.2.252/24 {
                    virtual-gateway-address 192.168.2.254;
                }
            }
        }
        unit 30 {
            virtual-gateway-accept-data;
            family inet {
                address 192.168.3.252/24 {
                    virtual-gateway-address 192.168.3.254;
                }
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 1.1.1.1/32;
            }
        }
    }
}
policy-options {
    policy-statement LB-POLICY {
        then {
            load-balance per-packet;
        }
    }
    policy-statement V10-IMPORT-POLICY {
        term 1 {
            from community comm-v30;
            then accept;
        }
        then reject;
    }
    policy-statement V20-IMPORT-POLICY {
        term 1 {
            from community comm-v30;
            then accept;
        }
        then reject;
    }
    policy-statement t5_export {
        term 1 {
            from protocol local;
            then accept;
        }
        term 2 {
            from protocol evpn;
            then accept;
        }
    }
    community comm-v10 members target:65000:25010;
    community comm-v20 members target:65000:25020;
    community comm-v30 members target:65000:25030;
}
routing-instances {
    V10 {
        instance-type vrf;
        routing-options {
            auto-export;
        }
        protocols {
            evpn {
                ip-prefix-routes {
                    advertise direct-nexthop;
                    encapsulation vxlan;
                    vni 15010;
                    export t5_export;
                }
            }
        }
        interface irb.10;
        route-distinguisher 1.1.1.1:10;
        vrf-import V10-IMPORT-POLICY;
        vrf-target target:65000:15010;
    }
    V20 {
        instance-type vrf;
        routing-options {
            auto-export;
        }
        protocols {
            evpn {
                ip-prefix-routes {
                    advertise direct-nexthop;
                    encapsulation vxlan;
                    vni 15020;
                    export t5_export;
                }
            }
        }
        interface irb.20;
        route-distinguisher 1.1.1.1:20;
        vrf-import V20-IMPORT-POLICY;
        vrf-target target:65000:15020;
    }
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    router-id 1.1.1.1;
    autonomous-system 65000;
    forwarding-table {
        export LB-POLICY;
    }
}
protocols {
    ##
    ## Warning: requires 'bgp' license
    ##
    bgp {
        group RR {
            type internal;
            local-address 1.1.1.1;
            family evpn {
                signaling;
            }
            peer-as 65000;
            neighbor 11.11.11.11;
            neighbor 22.22.22.22;
        }
    }
    evpn {
        encapsulation vxlan;
        multicast-mode ingress-replication;
        vni-options {
            vni 1010 {
                vrf-target target:65000:1010;
            }
            vni 2020 {
                vrf-target target:65000:2020;
            }
            vni 3030 {
                vrf-target target:65000:3030;
            }
        }
        extended-vni-list all;
    }
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/0.0 {
                interface-type p2p;
            }
            interface ge-0/0/1.0 {
                interface-type p2p;
            }
            interface lo0.0 {
                passive;
            }
        }
    }
    lldp {
        interface all;
    }
}
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher 1.1.1.1:1;
    vrf-target {
        target:65000:1;
        auto;
    }
}
vlans {
    vlan-10 {
        vlan-id 10;
        l3-interface irb.10;
        ##
        ## Warning: requires 'vxlan' license
        ##
        vxlan {
            vni 1010;
        }
    }
    vlan-20 {
        vlan-id 20;
        l3-interface irb.20;
        ##
        ## Warning: requires 'vxlan' license
        ##
        vxlan {
            vni 2020;
        }
    }
    vlan-30 {
        vlan-id 30;
        l3-interface irb.30;
        ##
        ## Warning: requires 'vxlan' license
        ##
        vxlan {
            vni 3030;
        }
    }
}