## Last commit: 2026-01-07 04:06:56 UTC by admin
version 23.1R1.8;
system {
    host-name leaf2;
    root-authentication {
        encrypted-password "$6$2wu/UNEU$FvfhJthOWlQ7hgzqZc4ABvgrwX4btE6r4C0sWXgtlQ6a7erO4OgSp.0P0lKlIqw.DtGFdR/fV9K4i4B57/m0r."; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$iEee5ViO$w93324ue9Vg3NQW8Omtd5fqowP40cZcgkfoxqTObDPFzZbXFf5DdEvHFeOg4CtokWVDEOw.4ETodfTC8Vc7vt/"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            root-login allow;
        }
        netconf {
            ssh;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 56;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.1.2.2/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 20.2.2.2/24;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members vlan-10;
                }
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members vlan-20;
                }
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    irb {
        inactive: unit 10 {
            virtual-gateway-accept-data;
            family inet {
                address 192.168.1.253/24 {
                    virtual-gateway-address 192.168.1.254;
                }
            }
        }
        inactive: unit 20 {
            virtual-gateway-accept-data;
            family inet {
                address 192.168.2.253/24 {
                    virtual-gateway-address 192.168.2.254;
                }
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 2.2.2.2/32;
            }
        }
    }
}
policy-options {
    policy-statement LB-POLICY {
        then {
            load-balance per-packet;
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    router-id 2.2.2.2;
    autonomous-system 65000;
    forwarding-table {
        export LB-POLICY;
    }
}
protocols {
    ##
    ## Warning: requires 'bgp' license
    ##
    bgp {
        group RR {
            type internal;
            local-address 2.2.2.2;
            family evpn {
                signaling;
            }
            peer-as 65000;
            neighbor 11.11.11.11;
            neighbor 22.22.22.22;
        }
    }
    evpn {
        encapsulation vxlan;
        multicast-mode ingress-replication;
        vni-options {
            vni 16;
            vni 1010 {
                vrf-target target:65000:1010;
            }
            vni 2020 {
                vrf-target target:65000:2020;
            }
        }
        extended-vni-list all;
    }
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/0.0 {
                interface-type p2p;
            }
            interface ge-0/0/1.0 {
                interface-type p2p;
            }
            interface lo0.0 {
                passive;
            }
        }
    }
    lldp {
        interface all;
    }
}
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher 2.2.2.2:1;
    vrf-target {
        target:65000:1;
        auto;
    }
}
vlans {
    vlan-10 {
        vlan-id 10;
        inactive: l3-interface irb.10;
        ##
        ## Warning: requires 'vxlan' license
        ##
        vxlan {
            vni 1010;
        }
    }
    vlan-20 {
        vlan-id 20;
        inactive: l3-interface irb.20;
        ##
        ## Warning: requires 'vxlan' license
        ##
        vxlan {
            vni 2020;
        }
    }
}