## Last commit: 2026-01-11 23:52:47 UTC by admin
version 23.1R1.8;
system {
    host-name leaf3;
    root-authentication {
        encrypted-password "$6$SXiVe6Hb$mTrHKXpUOWejKjXYzwMQlrPEtYAyuNErpKTRlwiewSuhB6LuwsiQWUt5WwJ1BnUNUAhngZC5iS8ZBXvL6HzTZ/"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$1DKon/hA$FNsNkdFOxiU1SoqoI8ODd6R/AEGfPdk4d8SQDxJ8O3pP5Apu9HOA.X7GQaNwPDCZFqit7KMgQboR/9NWD4mV01"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            root-login allow;
        }
        netconf {
            ssh;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 56;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.1.3.2/30;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.2.3.2/30;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members vlan-40;
                }
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    irb {
        unit 40 {
            family inet {
                address 192.168.40.254/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.254.254.3/32;
            }
        }
    }
}
policy-options {
    policy-statement ECMP {
        then {
            load-balance per-flow;
        }
    }
    policy-statement export-loopback {
        from interface lo0.0;
        then accept;
    }
}
routing-instances {
    macvrf-1 {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation vxlan;
                default-gateway do-not-advertise;
                extended-vni-list all;
            }
        }
        vtep-source-interface lo0.0;
        service-type vlan-aware;
        interface ge-0/0/2.0;
        route-distinguisher 10.254.254.3:1;
        vrf-target target:65000:1;
        vlans {
            vlan-40 {
                vlan-id 40;
                l3-interface irb.40;
                ##
                ## Warning: requires 'vxlan' license
                ##
                vxlan {
                    vni 1040;
                }
            }
        }
    }
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
    tenant1 {
        instance-type vrf;
        protocols {
            evpn {
                irb-symmetric-routing {
                    vni 50500;
                }
                ip-prefix-routes {
                    advertise direct-nexthop;
                    encapsulation vxlan;
                    vni 50500;
                }
            }
        }
        interface irb.40;
        route-distinguisher 10.254.254.3:50500;
        vrf-target target:65000:50500;
    }
}
routing-options {
    router-id 10.254.254.3;
    autonomous-system 65403;
    forwarding-table {
        export ECMP;
    }
}
protocols {
    ##
    ## Warning: requires 'bgp' license
    ##
    bgp {
        group underlay {
            type external;
            family inet {
                unicast;
            }
            export export-loopback;
            multipath;
            neighbor 10.1.3.1 {
                peer-as 65000;
            }
            neighbor 10.2.3.1 {
                peer-as 65000;
            }
        }
        group overlay {
            type external;
            multihop;
            local-address 10.254.254.3;
            family evpn {
                signaling;
            }
            peer-as 65000;
            multipath;
            neighbor 10.255.255.101;
            neighbor 10.255.255.102;
        }
    }
}