## Last commit: 2023-03-19 08:08:01 UTC by root
version 23.1R1.8;
system {
    host-name spine2;
    root-authentication {
        encrypted-password "$6$UQwBcSNy$Jklb4cty5rQDAWPpU9dN8k2zmSM6JdgNh45F2T128bMAIt17t1OBsEWeVUlvjH2fVvX/oHCd6ICVDeykJSPS.0"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$IfgEA4X6$K9/EBqmt3QtZdf5zQR7/XNq01B.c7APcwEDtaDB7j3I3LLk5rsrBajjaDYbqv2BUdvV41NASCzZ3naOcXEwkN0"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            root-login allow;
        }
        netconf {
            ssh;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 56;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 20.2.1.22/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 20.2.2.22/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 22.22.22.22/32;
            }
        }
    }
}
policy-options {
    policy-statement LB-POLICY {
        then {
            load-balance per-packet;
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    router-id 22.22.22.22;
    autonomous-system 65000;
    forwarding-table {
        export LB-POLICY;
    }
}
protocols {
    ##
    ## Warning: requires 'bgp' license
    ##
    bgp {
        group RR-CLIENT {
            type internal;
            local-address 22.22.22.22;
            family evpn {
                signaling;
            }
            cluster 0.0.0.1;
            peer-as 65000;
            neighbor 1.1.1.1;
            neighbor 2.2.2.2;
        }
    }
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/0.0 {
                interface-type p2p;
            }
            interface ge-0/0/1.0 {
                interface-type p2p;
            }
            interface lo0.0 {
                passive;
            }
        }
    }
    lldp {
        interface all;
    }
}