## Last commit: 2026-01-11 23:52:45 UTC by admin
version 23.1R1.8;
system {
    host-name leaf2;
    root-authentication {
        encrypted-password "$6$Cm/plcJu$f4/Gk3Xcz1Oe2.HgZrDs/eSQ.wgx0OkyGeiBOBRNHE6H9o1YAWq8GpJRPZesa5lINbRAu6dhtnoQGtphv6rXk1"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$176.IrgD$6CZPW9UUwt3sXg6./HHnyKuSLM2/PdYL1Cu03vnZv2vqAuS06r7o6sW0U0Co4XvB5VZxinSIaiKWMg/UrVb9g0"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            root-login allow;
        }
        netconf {
            ssh;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 56;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.1.2.2/30;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.2.2.2/30;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members vlan-100;
                }
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members vlan-30;
                }
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    irb {
        unit 30 {
            family inet {
                address 192.168.30.254/24;
            }
        }
        unit 100 {
            family inet {
                address 192.168.100.254/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.254.254.2/32;
            }
        }
    }
}
policy-options {
    policy-statement ECMP {
        then {
            load-balance per-flow;
        }
    }
    policy-statement export-loopback {
        from interface lo0.0;
        then accept;
    }
}
routing-instances {
    macvrf-1 {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation vxlan;
                default-gateway do-not-advertise;
                extended-vni-list all;
            }
        }
        vtep-source-interface lo0.0;
        service-type vlan-aware;
        interface ge-0/0/2.0;
        interface ge-0/0/3.0;
        route-distinguisher 10.254.254.2:1;
        vrf-target target:65000:1;
        vlans {
            vlan-100 {
                vlan-id 100;
                l3-interface irb.100;
                ##
                ## Warning: requires 'vxlan' license
                ##
                vxlan {
                    vni 10100;
                }
            }
            vlan-30 {
                vlan-id 30;
                l3-interface irb.30;
                ##
                ## Warning: requires 'vxlan' license
                ##
                vxlan {
                    vni 1030;
                }
            }
        }
    }
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
    tenant1 {
        instance-type vrf;
        protocols {
            evpn {
                irb-symmetric-routing {
                    vni 50500;
                }
                ip-prefix-routes {
                    advertise direct-nexthop;
                    encapsulation vxlan;
                    vni 50500;
                }
            }
        }
        interface irb.30;
        interface irb.100;
        route-distinguisher 10.254.254.2:50500;
        vrf-target target:65000:50500;
    }
}
routing-options {
    router-id 10.254.254.2;
    autonomous-system 65402;
    forwarding-table {
        export ECMP;
    }
}
protocols {
    ##
    ## Warning: requires 'bgp' license
    ##
    bgp {
        group underlay {
            type external;
            family inet {
                unicast;
            }
            export export-loopback;
            multipath;
            neighbor 10.1.2.1 {
                peer-as 65000;
            }
            neighbor 10.2.2.1 {
                peer-as 65000;
            }
        }
        group overlay {
            type external;
            multihop;
            local-address 10.254.254.2;
            family evpn {
                signaling;
            }
            peer-as 65000;
            multipath;
            neighbor 10.255.255.101;
            neighbor 10.255.255.102;
        }
    }
}